.accBtnBox {
  margin-top: auto;
  background-color: transparent;
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  cursor: pointer;
}

.accBtnBox.Expanded {
  flex: 1;
}

.accBtnBox.Hovered {
  background-color: rgba(0, 0, 0, 0.06);
}

.accIconBox {
  margin-top: auto;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.accName {
  width: 75%;
  padding-left: 5px;
  text-align: left;
  align-content: center;
  font-weight: 900;
  font-size: 15px;
  color: black;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
