.settingsBox {
  background-color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 19vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  color: black;
  overflow-y: hidden;
}

.settingsBox.hovered {
  overflow-y: scroll;
}

.optionBox {
  width: 90%;
  min-height: 7vh;
  border-radius: 10px;
  margin-left: 1vw;
  padding-left: 1vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: transparent;
  cursor: pointer;
}

.optionBox.firstOption {
  margin-top: 2vh;
}

.optionBox.lastOption {
  margin-bottom: 2vh;
}

.optionBox.optionHovered {
  background-color: rgba(0, 0, 0, 0.06);
}

hr {
  width: 90%;
  align-self: center;
  color: black;
  margin: 5px 0px;
  border: 1px solid black;
}
