.btnBox {
  background-color: transparent;
  align-items: center;
  display: flex;

  flex-direction: row;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.hovClick {
  background-color: rgb(255, 255, 255, 0.1);
}

.btnIconBox {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
}

.reqNum {
  border-radius: 50%;
  background-color: red;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -18%;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.reqNumExpanded {
  position: absolute;
  right: 5%;
  border-radius: 50%;
  background-color: red;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.btnText {
  margin-left: 1vw;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
