.btnBox {
  background-color: transparent;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.btnBox.Expanded {
  padding-left: 5px;
  height: 45px;
  width: 100%;
  justify-content: normal;
}

.hovClick {
  background-color: rgba(0, 0, 0, 0.06);
}

.btnIconBox {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  position: relative;
}

.reqNum {
  border-radius: 50%;
  background-color: red;
  position: absolute;
  width: 20px;
  height: 20px;
  top: -18%;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.reqNumExpanded {
  position: absolute;
  right: 5%;
  border-radius: 50%;
  background-color: red;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.btnText {
  margin-left: 10px;
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 15px;
  color: black;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}
