.navigationBtn {
  margin-left: 3%;
  gap: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navigationBtn.expanded {
  align-items: normal;
}

.accBtn {
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.accBtn.expanded {
  justify-content: normal;
}

.acc {
  width: 100%;
  display: flex;
  margin-top: auto;
  flex-direction: column;
  align-items: center;
}
