.scrollBar::-webkit-scrollbar {
  width: 0.5vw;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(236, 231, 231, 0.616);
  border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-track {
  background: "rgb(45,45,45)";
}

.scrollBar.hovered::-webkit-scrollbar-thumb {
  opacity: 1;
}

.scrollBar:not(.hovered)::-webkit-scrollbar-thumb {
  opacity: 0;
}

.scrollBar {
  overflow-y: auto;
}
