.convoBox {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid rgb(45, 45, 45);
  height: 80%;
  width: 95%;
  overflow-y: scroll;
  margin-bottom: 1vh;
}

.convoBox.hovered {
  overflow-y: scroll;
}

.userConvo {
  display: flex;
  align-items: center;
  width: 99%;
  height: 8vh;
  border-radius: 15px;
  background-color: transparent;
}

.userConvo.hovered {
  background-color: rgb(51, 51, 51);
}

.userConvo.clicked {
  background-color: rgb(65, 65, 65);
}

#pfPicture {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
}

.convoInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  margin-left: 1vw;
}

#flName {
  font-weight: bold;
  height: 50%;
  font-size: 17px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: white;
}

#latest-message {
  height: 50%;
  font-size: 15px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: rgb(176, 179, 184);
}
