.convoBox {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px solid rgb(45, 45, 45);
  height: 80%;
  width: 95%;
  overflow-y: scroll;
  margin-bottom: 1vh;
}

.convoBox.hovered {
  overflow-y: scroll;
}

.userConvo {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  width: 95%;
  height: 8vh;
  border-radius: 15px;
  background-color: transparent;
}

.userConvo.hovered {
  background-color: rgb(51, 51, 51);
}

.userConvo.clicked {
  background-color: rgb(65, 65, 65);
}

#pfPicture {
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
}

.convoInfo {
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
  margin-left: 0.5vw;
}

.unreadIcon {
  margin-left: auto;
  margin-right: 2vw;
}

#latest-message.unread {
  font-weight: bolder;
  color: white;
}

#flName {
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: white;
}

#latest-message {
  font-size: 0.95rem;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: rgb(176, 179, 184);
}

.convoPicture {
  width: 75%;
  height: 75%;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
