.convoBox {
  margin-top: 15px;
  height: 85%;
  width: 100%;
  gap: 5px;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userConvo {
  align-items: center;
  width: 97%;
  display: flex;
  height: 75px;
  border-radius: 15px;
  background-color: transparent;
}

.userConvo.hovered {
  background-color: rgba(0, 0, 0, 0.06);
}

.userConvo.clicked {
  background-color: rgba(0, 0, 0, 0.06);
}

#pfPicture {
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.convoInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 10px;
}

.unreadIcon {
  margin-left: auto;
  margin-right: 2vw;
}

#latest-message.unread {
  font-weight: bolder;
  color: black;
}

#flName {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: black;
}

#latest-message {
  font-size: 1rem;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: rgb(176, 179, 184);
}

.convoPicture {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}
