.chatBox {
  width: 34vw;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  height: 94vh;
  background-color: rgb(34, 34, 34);
  border: 2px solid rgb(34, 34, 34);
  border-radius: 15px;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
}

.chatBox.expanded {
  width: 30vw;
}

.chatBoxHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1.5vw;
  margin-top: 1vh;
}

.chatBoxTitle {
  font-weight: 800;
  font-size: 30px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: white;
}

.chatBoxCompose {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1.5vw;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  cursor: none;
}

.chatBoxCompose.composeBtnHover {
  cursor: pointer;
}

.chatBoxSearch {
  width: 90%;
  max-height: 4vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  height: 5vh;
  border: 2px solid rgb(58, 59, 60);
  background-color: rgb(58, 59, 60);
  border-radius: 75px;
}

.chatBoxSearch.expanded {
  width: 95%;
}

.chatBoxSearch div {
  width: 30px;
  height: 30px;
  margin-left: 1vw;
}
.chatBoxSearch input {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 1%;
  font-size: 20px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: rgb(167, 170, 174);
  width: 100%;
  height: 100%;
}

.tryMessengerBox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  color: white;
  border-radius: 10px;
  background-color: transparent;
}

.tryMessengerBox.hovered {
  background-color: rgb(51, 51, 51);
}
