#root {
  display: flex;
  width: 100%;
  height: 100%;
}

.navBar {
  width: 44px;
  position: relative;
}

.navBar.expanded {
  width: 240px;
}

.main {
  margin-left: 16px;
  width: 450px;
}

.chatContainer {
  display: flex;
  margin-left: 16px;
  flex-direction: row;
  align-items: center;
  width: 1157px;
  flex: 1;
}

.composeContainer {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 16px;
  width: 1157px;
  flex: 1;
}
